
# Dependency directories
node_modules/
dist/
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Eslint cache
.eslintcache

# Yarn logs
yarn-error.log

# yarn berry files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions