.reveal {
    transition: height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    box-sizing: content-box !important;

    &_inner {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
}

.enterActive,
.leaveActive {
    // forces hardware acceleration
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.enterActive {
    transition: opacity 0.2s ease-out 0.1s, transform 0.2s ease-out 0.1s;
    opacity: 1;
}

.enterFrom {
    opacity: 0 !important;
    transform: scale(0.97) !important;
}

.leaveActive {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

.leaveFrom {
    opacity: 1 !important;
}
